
*{
    font-family: "Poppins", sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transition: background-color 0.3s, top 0.3s;
    z-index: 1;
  }
  
  label {
    line-height: 100px;
    padding: 10px 20px; 
    font-size: 30px; 
    color: #4e6143;
    letter-spacing: -1px;
    user-select: none;
    margin-left: 1rem;
  }
  nav ul {
    list-style: none;
    position: absolute;
    right: 23px;
    top: -15px;
    display: flex;
    line-height: 80px;
    margin-right: 20px;
  }
  
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li.active a {
    color: #424035;
    font-weight: 600;
  }
  
  nav ul li:hover a {
    color: #597150;
  }
  
  nav ul li a {
    color: rgb(55, 58, 38);
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
  }
  .blob {
    height: 20rem; 
    width: 100%;
    position:absolute;
    margin-left: -2.8rem; 
    margin-top: -16rem; 
  }
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* Styles for the content within the container */
.container__content {
    width: clamp(10rem, 90%, 80rem);
    text-align: center;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.container__title{
    font-weight: 600;
    font-style: normal;
    margin-top: 3rem;
}
.container__title:nth-of-type(1) {
    position: relative;
    margin-bottom: -3rem;
    margin-left: -2.9rem;
}

.container__title:nth-of-type(2){
    margin-left: -1.3rem; 
}

.container__title:nth-of-type(3) {
    margin-left: -1rem; 
    margin-top: -1rem;
}

.container__text {
    margin-left: 41.5%; 
    margin-top: 0rem; 
    width: 50%;
    text-align: justify;
}

.container__image {
    width: 70%;  
    height: 34.375rem; 
    margin-top: 8.438rem; 
}
body {
    color: #1E3932;
    background-color: #DADFD9;
    font-family: "Alegreya Sans", serif;
}

.container__image {
    margin-left: -1rem;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}

.container__imageFirst {
    margin-top: auto; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
    height: auto;
}


.containerTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    margin-left: 7vw;
    margin-top: 25rem;
}

.containerTwo__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: -3rem; 
    margin-top: 2rem;
    width: 90%;
    
}

.containerTwo__item {
    padding: 1rem;
    text-align: center;
    height: 13rem;
    width: 15rem;
    position: relative;
}

.containerTwo__item img {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

/* Styles for the content within containerTwo */
.containerTwo__content {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    margin-top: 15rem;
    font-size: 0.92rem;
}

/* Styles for the title within containerTwo */
.containerTwo__title {
    /* margin-left: -3rem; */
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: auto;
}

/* Styles for the text within containerTwo */
.containerTwo__text {
    margin-top: -1rem; 
}

/* Styles for the parent container */
.containerTwo__imageDivs {
    display: flex; 
    justify-content: space-between;
}

/* Styles for the image div */
.containerTwo__image {
    width: 35%;
    max-height: 45rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 17rem;
}

.containerTwo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles for the contents div */
.containerTwo__imageContents {
    width: 30%;
    margin-right: 15rem;
    margin-top: 20rem;
    font-size: 0.9rem;
}

.containerTwo__imageContents-label {
    margin-left: -22rem;
    margin-bottom: -2rem;
}

.containerTwo__imageContents-title {
    /* font-size: 2rem; */
    margin-left: -20.9rem;
    margin-bottom: -1rem;
    font-weight: 500;
}

.containerTwo__titleLinks {
    margin-top: 2rem;
    margin-left: -3rem;
}

.containerTwo__titleLink {
    margin-right: 1rem;
    border-right: 1px solid black; 
    padding-right: 1rem; 
}

.containerTwo__titleLink:last-child {
    border-right: none;
}

.containerTwo__titleLink--active {
    font-weight: bold;
}

.containerTwo__paragraph {
    text-align: justify;
    width: 70%; /* Default width */
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;

}

.containerTwo__additional-text {
    display: block;
    margin-top: 1rem;
    margin-left: -6rem;
}

.containerTwo__button {
    margin-top: 1rem;
    margin-left: -17rem;
    padding: 1rem 1rem;
    width: 7.5rem;
    border: none;
    cursor: pointer;
    margin-bottom: 5rem;
    background-color: #1E3932;
    font-size: 1rem;
    color: #f4f0e6;
    border-radius: 5px;
}

.containerThree {
    margin-top: 22rem; 
    text-align: center;
}

.containerThree__header {
    margin-bottom: 2rem;
}

.containerThree__label {
    font-size: 1rem; 
    font-weight: 500;
}

.containerThree__title {
    font-size: 1.5rem; 
}







.containerThree__divs {
    margin-top: -8rem;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    padding: 10rem;
    gap:3rem;
}

.containerThree__div {
    position: relative;
    height: 18rem;
    width: 21rem; /* Adjust width to fit three items in a row with gap */
    margin: 0.5rem; /* Add margin between items */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.containerThree__div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerThree__titleOverlay,
.containerThree__labelOverlay {
    display: none;
    position: absolute;
    bottom: -1rem; /* Adjust as needed */
    left: -1rem;
    width: 95%;
    height: 3rem;
    margin-top: -10rem;
    text-align: start; /* Center text */
    padding-left: 3rem;
    border-radius: 5px;
    background-color: rgba(155, 161, 118, 0.8);
    color: black;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.containerThree__titleOverlay{
    top: 23rem;
    padding-top: 1rem;
}

.containerThree__div:hover .containerThree__titleOverlay,
.containerThree__div:hover .containerThree__labelOverlay {
    display: block;
    animation: show-overlay 1s forwards;
    transition: opacity 0.3s ease;
}

.containerThree__button{
    padding: 0.3rem 0.3rem;
    width: 5rem;
    border: none;
    cursor: pointer;
    color: #1E3932;
    border: 10px;
    font-size: 1rem;
}

.containerFour {
    display: grid;
    grid-template-columns: 1fr 40vw; /* Adjust grid columns for the image */
    gap: 1rem;
    align-items: center;
    margin-bottom: 7rem;
}

.containerFour__content {
    text-align: left;
    margin-left: 18rem;
    margin-top: 1rem;
}

.containerFour__label {
    text-align: justify;
    font-size: 1rem;
}

.containerFour__div {
    margin-top: 1rem;
    width: 25rem;
    border-radius: 5px;
}

.containerFour__divTitle{
    border: 1px solid black; /* Add border */
    margin-bottom: -1rem;
    border-bottom: none;
    padding: 1rem;
    border-radius: 5px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    font-size: 1rem;
    font-weight: 500;
}

.containerFour__divpara{
    border: 1px solid black; /* Add border */
    padding: 1.5rem; /* Add padding */
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.containerFour__divTitletext {
    border: 1px solid black; /* Add border */
    width: 22.8rem;
    padding: 1rem;
    border-radius: 5px;
}

.containerFour__image {
    width: 38vw; 
    height: 37rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.2vh; 
    margin-left: -8rem;
    margin-right: 0; 
}

.containerFour__image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin-left: 11rem;
}

.slider__tittle h1{
    font-weight: 700;
    font-size: 2rem;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 18rem;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 0px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    height: 70%;
    width: 100%;
}

.card .img img {
    width: 100%;
    height: 140%;
    object-fit: cover;
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    max-width: 70%;
    gap: 2rem;
    height: 20rem;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

.video-container__video {
    flex: 1;
    background-color: #a68585; /* Placeholder background color */
}

.video-container__video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flex-container {
    display: flex;
    height: 12rem;
    max-width: 80%;
    margin-top: 5rem;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.flex-item {
    flex: 1;
    background-color: #c5a5a5; /* Placeholder background color */
}

.flex-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lastContainer{
    margin-top: 4rem;
}

.image-container {
    display: flex;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.image-block {
    position: relative;
    margin-left: 3rem;
    max-width: 100%;
}

.image-block img {
    height: 20rem;
    max-width: 100%;
    object-fit: cover;
}

.hover-content {
    display: none;
    position: absolute;
    top: 13rem;
    left: 1.5rem;
    border-radius: 10px;
    background-color: rgba(148, 155, 140, 0.8); /* Semi-transparent background color */
    padding: 20px;
    text-align: start;
}

.image-block:hover .hover-content {
    display: block;
    width: 14.5rem;
}

.title {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
}

.label, .date, .description {
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 5px; /* Adjust spacing between elements as needed */
}

.lastContainer__Title{
    margin-left: 1rem;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: rgb(202, 202, 202);
    background-color: #757575;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.footer__addr {
    margin-bottom: 2em;
    text-align: justify;
}

.footer__logo {
    font-weight: 400;
    text-transform: lowercase;
    font-size: 2rem;
    margin-left: 8rem;
}

.footer address {
    font-style: normal;
    color: #ffffff;
    width: 60%;
    margin-left: 8rem;
    font-weight: 300;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #fbfbfb;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
    text-align: center;
    margin-top: 9rem;
}

.copy{
    margin-left: -20rem;
    margin-bottom: -2rem;
}

.nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.nav__button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav__button:hover {
    background-color: #0056b3;
}

.containerThree__button{
    padding: 0.3rem 0.3rem;
    width: 5rem;
    border: none;
    cursor: pointer;
    color: #1E3932;
    border: 10px;
    font-size: 1rem;
}

  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .footer__addr {
      flex: 1 0px;
    }
  
    .footer__nav {
      flex: 2 0px;
    }
  }


/* Media query for screens smaller than 18rem */
@media (max-width: 288px) {
    /* Adjust font size for smaller screens */
    .container, .containerTwo, .containerTwo__container {
        font-size: 0.7rem;
    }

    .container__content {
        /* width: 90%;  */
        text-align: center;
        margin-top: 3rem;
        margin-left: 7rem;
        margin-right: auto;
        font-size: 0.8rem;
        margin-right: 1rem;
    }

    .container__title:nth-child(2){
        margin-left: -10px;
    }

    .container__title:nth-child(3){
        margin-left: -0px;
    }

    /* Adjust margin for text within container */
    .container__text {
        /* margin-left: 6rem;  */
        margin-top: 0rem; 
        text-align: justify;
        width: 15rem;
    }

    /* Adjust width and height for image within container */
    .container__image {
        width: 50%;  
        height: 20rem; 
        margin-top: 1rem; 
    }

    .container__imageFirst{
        margin-left: 3rem;
        max-width: 15rem;
        max-height: 15rem;
    }
    /* Adjust margin for subtitle within containerTwo */
    .containerTwo__subtitle {
        margin-top: 10rem;
        margin-left: 12rem;

    }

    /* Adjust margin for title within containerTwo */
    .containerTwo_title {
        margin-top: 1rem;
        margin-left: 12rem;

    }

    /* Adjust margin for text within containerTwo */
    .containerTwo_text {
        margin-top: 1rem;
        margin-left: 12rem;
        width: 100%;
        
    }

    /* Adjust font size for containerTwo container */
    .containerTwo__container {
        font-size: 0.7rem;
        /* margin-left: 6rem; */
    }

    /* Adjust display and width for items within containerTwo */
    .containerTwo__item {
        display: flex;
        align-items: center;
        width: auto;
        margin-left: 0;
        width: 30%;
        height: 4rem;
    }

    /* Adjust display and grid columns for content within containerTwo */
    .containerTwo__content {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-items: center;
        margin-left: 3rem;
    }

    /* Adjust margin and width for title and text within containerTwo */
    .containerTwo__titleDivs {
        margin-top: -5.8rem;
        margin-left: 6rem;

    }

    .containerTwo__titleDivs,
    .containerTwo__textDivs {
        grid-column: 1;
        margin-left: 5rem;
        width: 100%;
    }

    .containerTwo__imageDivs {
        display: flex; /* Use flexbox */
        justify-content: space-between; /* Distribute items evenly along the main axis */
        /* margin-top: 9rem; */
    }

    .containerTwo__item{
        margin-left: 6rem;
    }
    
    /* Styles for the image div */
    .containerTwo__image {
        width: 15rem;
        height: 10rem;
        border: 0.15rem solid black;
        margin-left: 15rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    
    /* Styles for the contents div */
    .containerTwo__imageContents {
        width: 40%; /* Adjust width as needed */
        margin-right: 5rem;
        margin-top: 17rem;
        font-size: 0.8rem;
    }
    
    /* Remaining styles for the inner elements remain unchanged */
    .containerTwo__imageContents-label {
        font-weight: bold;
        margin-left: -20rem;
    }
    
    .containerTwo__imageContents-title {
        font-size: 1.2rem;
        margin-left: -19.9rem;
        margin-bottom: -1rem;
    }
    
    .containerTwo__titleLinks {
        margin-top: 1.5rem;
        margin-left: -13rem;
        width: 18rem;
    }
    
    .containerTwo__titleLink {
        margin-right: 1rem;
        /* border-right: 1px solid black;  */
        padding-right: 1rem; 
    }
    
    .containerTwo__titleLink:last-child {
        border-right: none;
    }
    
    .containerTwo__titleLink--active {
        font-weight: bold;
    }
    
    .containerTwo__paragraph {
        text-align: justify;
        margin-left: -10rem;
        width: 10rem;
    }
    
    .containerTwo__additional-text {
        display: block;
        margin-top: 1rem;
        margin-left: -10rem;
        width: 10rem;

    }
    
    .containerTwo__button {
        margin-top: 1rem;
        margin-left: -19.5rem;
        padding: 0.5rem 0.5rem;
        width: 7rem;
        border: none;
        cursor: pointer;
    }

    .containerThree {
        margin-top: 34rem; /* Adjust the top margin as needed */
        text-align: center;
        font-size: 0.8rem;
    }

    .containerThree__header {
        margin-bottom: 1rem; /* Adjust the bottom margin as needed */
        margin-left: 1.5rem;
    }
    
    .containerThree__label {
        font-size: 0.8rem; /* Adjust font size as needed */
    }
    
    .containerThree__title {
        font-size: 0.8rem; /* Adjust font size as needed */
    }
    
    .containerThree__divs {
        margin-top: -10rem;
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: center; /* Center items horizontally */
        padding: 10rem;
        gap:3rem;
        width: 10rem;
        margin-left: -5rem;
    }
    
    .containerThree__div {
        position: relative;
        height: 8rem;
        margin: 0.5rem; /* Add margin between items */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        box-sizing: border-box; /* Include padding and border in the width calculation */
    }
    
    .containerThree__titleOverlay,
    .containerThree__labelOverlay {
        display: none;
        position: absolute;
        bottom: -1rem; /* Adjust as needed */
        left: -1rem;
        width: 90%;
        height: 1rem;
        margin-top: -23rem;
        text-align: start; /* Center text */
        padding-left: 3rem;
        background-color: rgb(210, 206, 206);
        color: black;
        transition: opacity 0.3s ease;
        z-index: 1;
        
    }
    
    .containerThree__titleOverlay{
        top: 29rem;
        padding-top: 0.8rem;
        padding-bottom: 0.5rem;
    }
    
    .containerThree__div:hover .containerThree__titleOverlay,
    .containerThree__div:hover .containerThree__labelOverlay {
        display: block;
    }

    .containerThree__button{
        padding: 1rem;
        height: 2rem;
    }

    .containerThree__button{
        margin-left: -0.4rem;
        width: 5rem;
        padding: 0.5rem;
}

.containerFour__content {
    margin-left: 8rem;
    margin-top: 19rem;
    font-size: 0.6rem;
}

.containerFour__div {
    margin-top: 1rem;
    width: 10rem;
    margin-left: -2rem;
}

.containerFour__divTitle{
    margin-bottom: -1rem;
    padding: 0.5rem;
    
}

.containerFour__divpara{
    padding: 0.5rem; /* Add padding */
}

.containerFour__divTitletext {
    width: 8rem;
    padding: 0.5rem;
    margin-left: -1.5rem;

}

.containerFour__image {
    width: 50vw; 
    height: 10rem;  
    margin-top: -20rem; 
    margin-left: -12rem;
    margin-right: 0; 
}
}

/* Media query for screens between 18rem and 32rem */
@media (min-width: 288px) and (max-width: 512px) {
    label {
        padding: 10px 10px; /* Further adjust padding for smaller screens */
        font-size: 20px; /* Further adjust font size for smaller screens */
      }
    
      nav ul {
        right: 10px; /* Further adjust right position for smaller screens */
        margin-right: 5rem; /* Further adjust margin for smaller screens */
        font-size: 0.8rem;
      }
    
      nav ul li a {
        padding: 10px 12px; /* Further adjust padding for smaller screens */
      }

    .blob {
        max-height: 15rem; /* Adjust height for smaller screens */
        width: 38rem;
        /* margin-left: -2.4rem; Adjust margin for smaller screens */
        margin-top: -9rem;
        margin-left: -5rem;
      }
    /* .container__title:nth-child(2){
        margin-left: -12px;
    } */

    /* .container__title:nth-child(3){
        margin-left: -5px;
    } */

    .container__title{
        margin-left: auto;
        /* margin-right: auto; */
    }

    .container__content {
        /* width: 90%;  */
        text-align: center;
        margin-top: 8rem;
        margin-left: auto;
        /* margin-right: auto; */
        font-size: 0.7rem;
        margin-right: 0rem;
    }

    .container__title:nth-child(2){
        margin-left: -15px;
    }

    .container__title:nth-child(3){
        margin-left: -12px;
    }

    /* Adjust margin for text within container */
    .container__text {
        margin-left: 30%; 
        margin-top: 0rem; 
        text-align: justify;
        width: 60%;
        font: 1rem;
    }

    /* Adjust width and height for image within container */
    /* .container__image {
        width: 50%;  
        height: 20rem; 
        margin-top: 1rem; 
    } */

    .container__imageFirst{
        margin-left: 50%;
        max-width: 190%;
        max-height: 15rem;
        /* max-height: 0%;  */
    }


    /* Adjust font size for container and containerTwo */
    .container, .containerTwo {
        font-size: 0.8rem;
        margin-left: 2rem;
    }
    /* Adjust margin for subtitle within containerTwo */
    .containerTwo__subtitle {
        margin-top: 40rem;
        font-size: 0.8rem;
        margin-left: 5rem;
    }

    /* Adjust margin for title and text within containerTwo */
    .containerTwo_title, .containerTwo_text {
        margin-top: 1rem;
        font-size: 0.8rem;
        margin-left: 5rem;
    }

   
    /* Adjust font size for containerTwo */
    .containerTwo {
        font-size: 0.8rem;
    }

    /* Adjust font size for containerTwo container */
    .containerTwo__container {
        font-size: 0.8rem;
    }

    /* Adjust display, width, and margin for items within containerTwo */
    .containerTwo__item {
        display: flex;
        align-items: center;
        width: auto;
        margin-left: 4rem;
        width: 35%;
        height: 10rem;
    }

    /* Adjust display and grid columns for content within containerTwo */
    .containerTwo__content {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-items: center;
    }

    /* Adjust margin and width for title and text within containerTwo */
    .containerTwo__titleDivs {
        margin-top: -10.5rem;
    }

    .containerTwo__titleDivs,
    .containerTwo__textDivs {
        grid-column: 1;
        margin-left: 13rem;
        width: 80%;
        font-size: 0.8rem;

    }

    .containerTwo__imageDivs {
        display: flex; /* Use flexbox */
        justify-content: space-between; /* Distribute items evenly along the main axis */
        /* margin-top: 9rem; */
    }
    
    /* Styles for the image div */
    .containerTwo__image {
        width: 50%;
        max-height: 20rem;
        margin-left: 2rem;
        margin-bottom: 20rem;
        margin-top: 5rem;
    }
    
    /* Styles for the contents div */
    .containerTwo__imageContents {
        width: 60%; /* Adjust width as needed */
        margin-right: -15rem;
        margin-top: 3rem;
        font-size: 0.6rem;
    }
    
    /* Remaining styles for the inner elements remain unchanged */
    .containerTwo__imageContents-label {
        font-weight: bold;
        margin-left: -15.5rem;
        margin-bottom: -1rem;
    }

    .containerTwo__imageContents-title {
        font-size: 1.2rem;
        margin-left: -14.9rem;
        margin-bottom: -1rem;
    }
    
    .containerTwo__titleLinks {
        margin-top: 1.5rem;
        margin-left: -13rem;
    }
    
    .containerTwo__titleLink {
        margin-right: 1rem;
        border-right: 1px solid black; 
        padding-right: 1rem; 
    }
    
    .containerTwo__titleLink:last-child {
        border-right: none;
    }
    
    .containerTwo__titleLink--active {
        font-weight: bold;
    }
    
    .containerTwo__paragraph {
        text-align: justify;
        margin-left: -5rem;
    }
    
    .containerTwo__additional-text {
        display: block;
        margin-top: 1rem;
        margin-left: -13rem;
    }
    
    .containerTwo__button {
        margin-top: 1rem;
        margin-left: -13.5rem;
        padding: 0.3rem 0.3rem;
        width: 5rem;
        border: none;
        cursor: pointer;
    }

    .containerThree {
        margin-top: 50rem; /* Adjust the top margin as needed */
        margin-left: 10rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .containerThree__header {
        margin-bottom: 1rem; 
        margin-left: -1rem;
    }
    
    .containerThree__label {
        font-size: 0.8rem; /* Adjust font size as needed */
    }
    
    .containerThree__title {
        font-size: 0.8rem; /* Adjust font size as needed */
    }
    
    .containerThree__divs {
        margin-top: -10rem;
        width: 10rem;
        margin-left: -6em;
    }
    
    .containerThree__div {
        position: relative;
        height: 8rem;
        width: 100%; /* Adjust width to fit three items in a row with gap */
        margin: 0.5rem; /* Add margin between items */
    }
    
    .containerThree__titleOverlay,
    .containerThree__labelOverlay {
        left: -0.5rem;
        width: 80%;
        height: 1rem;
        margin-top: -15rem;
    }
    
    .containerThree__titleOverlay{
        top: 24rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .containerThree__button{
        width: 5rem;
        padding: 0.5rem;
}

.containerFour__content {
    margin-left: 9rem;
    margin-top: 3rem;
    font-size: 0.7rem;
}

.containerFour__div {
    margin-top: 1rem;
    width: 14rem;
    margin-left: -5rem;
}

.containerFour__divTitle{
    margin-bottom: -1rem;
    padding: 0.5rem;
}

.containerFour__divpara{
    padding: 0.5rem; /* Add padding */
}

.containerFour__divTitletext {
    width: 13rem;
    padding: 0.5rem;
    margin-left: -5rem;

}

/* Styles for the image within the container */
.containerFour__image {
    width: 50vw; 
    height: 15rem;  
    margin-top: -20rem; 
    margin-left: -15.5rem;
    margin-right: 0; 
}

.slider__tittle h1{
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: -3rem;
}

.wrapper {
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

  /* .wrapper i {
    left: 10px;
    right: 50px;
  }
  .wrapper i:first-child {
    left: auto;
  } */
  .carousel .card {
    height: 10rem;
    width: 100%;
  }
  
  .image-container {
    margin-left: auto;
  }
  
  .image-block {
    position: relative;
    margin-left: auto;
    max-width: 150%;
  }
  
  .image-block img {
    /* width: 100px; Adjust image size as needed */
    height: 13rem;
    max-width: 100%;
    object-fit: cover;
  }

  .video-container__video{
    height: 10rem;
    width: 500px;

  }

  .flex-item{
    height: 10rem;
    width: 100%;
    margin-top: -4rem;

  }
  
  .hover-content {
    display: none;
    position: absolute;
    left: 0rem;
    top: 9rem;
    background-color: rgba(189, 133, 133, 0.8); /* Semi-transparent background color */
    padding: 3px;
    text-align: start;
  }
  
  .image-block:hover .hover-content {
    display: block;
    width: 100%;
  }
  
  .title {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  .label, .date, .description {
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 0px; /* Adjust spacing between elements as needed */
  }

  .lastContainer__Title{
    margin-left: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .image-container{
    padding: 20px;
  }
  .lastContainer{
    margin-top: -4rem;
  }

  .image-block {
    position: relative;
    margin-left: 1rem;
    max-width: 150%;
  }
}

/* Media query for screens between 32rem and 50rem */
@media (min-width: 512px) and (max-width: 800px) {
    label {
        padding: 10px 10px; /* Further adjust padding for smaller screens */
        font-size: 20px; /* Further adjust font size for smaller screens */
      }
    
      nav ul {
        right: 10px; /* Further adjust right position for smaller screens */
        margin-right: 8rem; /* Further adjust margin for smaller screens */
      }
    
      nav ul li a {
        padding: 10px 12px; /* Further adjust padding for smaller screens */
      }

    .blob {
        max-height: 10rem; /* Adjust height for smaller screens */
        max-width: 100%;
        /* margin-left: -2.4rem; Adjust margin for smaller screens */
        margin-top: -6rem;
      }
    /* .container__title:nth-child(2){
        margin-left: -12px;
    } */

    /* .container__title:nth-child(3){
        margin-left: -5px;
    } */

    .container__title{
        margin-left: auto;
        /* margin-right: auto; */
    }

    .container__content {
        /* width: 90%;  */
        text-align: center;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.7rem;
        margin-right: 1rem;
    }

    .container__title:nth-child(2){
        margin-left: -10px;
    }

    .container__title:nth-child(3){
        margin-left: -0px;
    }

    /* Adjust margin for text within container */
    .container__text {
        margin-left: 30%; 
        margin-top: 0rem; 
        text-align: justify;
        width: 60%;
    }

    /* Adjust width and height for image within container */
    /* .container__image {
        width: 50%;  
        height: 20rem; 
        margin-top: 1rem; 
    } */

    .container__imageFirst{
        margin-left: 13%;
        max-width: 100%;
        max-height: 20rem;
        /* max-height: 0%;  */
    }


    /* Adjust font size for container and containerTwo */
    .container, .containerTwo {
        font-size: 0.8rem;
    }

   

    /* Adjust margin for subtitle within containerTwo */
    .containerTwo__subtitle {
        margin-top: 40rem;
    }

    /* Adjust margin for title and text within containerTwo */
    .containerTwo_title, .containerTwo_text {
        margin-top: 1rem;
    }

   
    /* Adjust font size for containerTwo */
    .containerTwo {
        font-size: 0.9rem;
    }

    /* Adjust font size for containerTwo container */
    .containerTwo__container {
        font-size: 0.8rem;
    }

    /* Adjust display, width, and margin for items within containerTwo */
    .containerTwo__item {
        display: flex;
        align-items: center;
        width: auto;
        margin-left: 4rem;
        width: 35%;
    }

    /* Adjust display and grid columns for content within containerTwo */
    .containerTwo__content {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-items: center;
    }

    /* Adjust margin and width for title and text within containerTwo */
    .containerTwo__titleDivs {
        margin-top: -10.5rem;
    }

    .containerTwo__titleDivs,
    .containerTwo__textDivs {
        grid-column: 1;
        margin-left: 13rem;
        width: 80%;
    }

    .containerTwo__imageDivs {
        display: flex; /* Use flexbox */
        justify-content: space-between; /* Distribute items evenly along the main axis */
        /* margin-top: 9rem; */
    }
    
    /* Styles for the image div */
    .containerTwo__image {
        width: 40%;
        max-height: 20rem;
        margin-left: 2rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    
    /* Styles for the contents div */
    .containerTwo__imageContents {
        width: 40%; /* Adjust width as needed */
        margin-right: 1rem;
        margin-top: 6rem;
        font-size: 0.8rem;
    }
    
    /* Remaining styles for the inner elements remain unchanged */
    .containerTwo__imageContents-label {
        font-weight: bold;
        margin-left: -15.5rem;
        margin-bottom: -1rem;
    }
    
    .containerTwo__imageContents-title {
        font-size: 2rem;
        margin-left: -14.9rem;
        font-size: 1.2rem;
    }
    
    .containerTwo__titleLinks {
        margin-top: 1.5rem;
        margin-left: -1rem;
    }
    
    .containerTwo__titleLink {
        margin-right: 0.5rem;
        border-right: 1px solid black; 
        padding-right: 1rem; 
    }
    
    .containerTwo__titleLink:last-child {
        border-right: none;
    }
    
    .containerTwo__titleLink--active {
        font-weight: bold;
    }
    
    .containerTwo__paragraph {
        text-align: justify;
        margin-left: -1rem;
        width: 95%;
    }
    
    .containerTwo__additional-text {
        display: block;
        margin-top: 1rem;
        margin-left: -3rem;
        width: 20rem;
    }
    
    .containerTwo__button {
        margin-top: 4rem;
        margin-left: -22.5rem;
        padding: 0.5rem 0.5rem;
        width: 7rem;
        border: none;
        cursor: pointer;
    }
    .containerThree {
        margin-top: 59rem; /* Adjust the top margin as needed */
        text-align: center;
    }
    .containerThree__header {
        margin-bottom: 1rem; /* Adjust the bottom margin as needed */
    }
    
    .containerThree__label {
        font-size: 0.9rem; /* Adjust font size as needed */
    }
    
    .containerThree__title {
        font-size: 1.4rem; /* Adjust font size as needed */
        font-weight: 600;
    }
    
    .containerThree__divs {
        margin-top: -10rem;
        padding: 10rem;
        gap:3rem;
    }
    
    .containerThree__div {
        height: 15rem;
        width: 18rem; /* Adjust width to fit three items in a row with gap */
        margin: 0.5rem; /* Add margin between items */
    }
    
    .containerThree__titleOverlay,
    .containerThree__labelOverlay {
        height: 3rem;
        top: 25rem;
        padding-left: 3rem;
    }
    
    .containerThree__titleOverlay{
        top: 22.5rem;
        padding-top: 1rem;
    }
    
    .containerThree__div:hover .containerThree__titleOverlay,
    .containerThree__div:hover .containerThree__labelOverlay {
        display: block;
    }

        /* .containerThree__button{
            width: 5rem;
            padding: 0.5rem;
    } */

    .containerFour__content {
        margin-left: 3rem;
        margin-top: -6rem;
        font-size: 0.7rem;
    }
    
    .containerFour__div {
        margin-top: 1rem;
        width: 14rem;
    }
    
    .containerFour__divTitle{
        margin-bottom: -1rem;
        padding: 0.5rem;
    }
    
    .containerFour__divpara{
        padding: 0.5rem; /* Add padding */
    }
    
    .containerFour__divTitletext {
        width: 13rem;
        padding: 0.5rem;
    }
    
    /* Styles for the image within the container */
    .containerFour__image {
        width: 40vw; 
        height: 25rem;  
        margin-top: -10vh; 
        margin-left: -4rem;
    }
    .containerFour__div {
        width: 14rem;
    }
    
   
    
    .slider__tittle h1{
        font-size: 0.9rem;
        font-weight: 800;
        margin-top: -3rem;
    }
    
    .wrapper {
        margin-top: 3rem;
        margin-left: 1.5rem;
      }
    
      .wrapper i {
        left: 10px;
        right: 50px;
      }
      .wrapper i:first-child {
        left: auto;
      }
      .carousel .card {
        height: 13rem;
        width: 90%;
      }
      
      .image-container {
        margin-left: auto;
      }
      
      .image-block {
        position: relative;
        margin-left: auto;
        max-width: 90%;
      }
      
      .image-block img {
        /* width: 100px; Adjust image size as needed */
        height: 13rem;
        max-width: 100%;
        object-fit: cover;
      }

      .video-container__video{
        height: 15rem;

      }

      .flex-item{
        height: 10rem;
        width: 100%;
        margin-top: -4rem;

      }
      
      .hover-content {
        display: none;
        position: absolute;
        left: 0rem;
        top: 9rem;
        background-color: rgba(189, 133, 133, 0.8); /* Semi-transparent background color */
        padding: 3px;
        text-align: start;
      }
      
      .image-block:hover .hover-content {
        display: block;
        width: 98%;
      }
      
      .title {
        font-size: 18px; /* Adjust font size as needed */
        font-weight: bold;
      }
      
      .label, .date, .description {
        font-size: 14px; /* Adjust font size as needed */
        margin-top: 0px; /* Adjust spacing between elements as needed */
      }
    
      .lastContainer__Title{
        margin-left: 0.3rem;
        font-size: 0.9rem;
        font-weight: bold;
      }

      .image-container{
        padding: 20px;
      }
      .lastContainer{
        margin-top: -4rem;
      }

      .image-block {
        position: relative;
        margin-left: 1rem;
        max-width: 100%;
      }
}

/* Media query for screens larger than 50rem */
/* My laptop screen */
@media (min-width: 800px) {
    /* Adjust grid columns for container */
    
    /* Adjust grid columns for containerTwo container */
    .containerTwo__container {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        /* font-size: 0.8rem; */
    }

    /* Adjust font size for text within containerTwo */
    /* .containerTwo_text {
        font-size: 1rem;
        margin-top: 1rem;
    } */

    /* Reset margin for items within containerTwo */
    /* .containerTwo__item {
        margin-left: 0;
    } */

    .containerThree__button{
        margin-top: 2rem;
        margin-right: 13.5rem;
        margin-left: 15rem;
        padding: 1rem 1rem;
        width: 8rem;
        cursor: pointer;
}


/* .containerThree__divs {
    margin-top: -10rem;
    width: 20rem;
    margin-left: -6em;
} */

.containerThree__div {
    position: relative;
    height: 18rem;
    width: 25%; /* Adjust width to fit three items in a row with gap */
    margin: 0.5rem; /* Add margin between items */
}
}

/* Media query for screens between 50rem and 70rem */
@media (min-width: 800px) and (max-width: 1120px) {
    label {
        padding: 10px 10px; /* Further adjust padding for smaller screens */
        font-size: 24px; /* Further adjust font size for smaller screens */
      }
    
      nav ul {
        right: 10px; /* Further adjust right position for smaller screens */
        margin-right: 10rem; /* Further adjust margin for smaller screens */
      }
    
      nav ul li a {
        padding: 10px 12px; /* Further adjust padding for smaller screens */
      }

    .blob {
        max-height: 20rem; /* Adjust height for smaller screens */
        max-width: 100%;
        /* margin-left: -2.4rem; Adjust margin for smaller screens */
        margin-top: -10.2rem;
      }

    /* Adjust width, margin, and font size for container content */
    .container__content {
        /* width: 90%;  */
        /* text-align: center; */
        margin-top: 7rem;
        /* margin-left: auto; */
        /* margin-right: auto; */
        font-size: 0.8rem;
        /* margin-right: 1rem; */
    }

    /* .container__title:nth-child(2){
        margin-left: -12px;
    } */

    /* .container__title:nth-child(3){
        margin-left: -5px;
    } */

    .container__title{
        margin-left: auto;
        /* margin-right: auto; */
    }

    /* Adjust margin for text within container */
    .container__text {
        /* margin-left: auto; */
        margin-left: 38%;
        
       
    }

    /* Adjust width and height for image within container */
     .container__image {
        /* width: 50%;   */
        /* height: 20rem;  */
        margin-top: 5rem; 
        margin-right: 2rem;
        /* height: auto; */
    } 

    .container__imageFirst {
        margin-left: auto; /* Center the image horizontally */
        margin-right: auto;
        max-width: 100%; /* Adjust width to 70% of the container */
        max-height: 20rem; /* Automatically adjust the height to maintain aspect ratio */
        margin-top: 4.219rem; /* Adjust top margin as needed */
        margin-right: 3rem;
    }

    /* Adjust margin for title within containerTwo */
    /* .containerTwo_title {
        margin-top: 0.5rem; 
    } */

    /* Adjust margin for text within containerTwo */
    /* .containerTwo_text {
        margin-top: 1rem; 
    } */

    .containerTwo{
        /* margin-left: auto; */
        margin-right: auto;
        font-size: 0.8rem;
    }

    /* Adjust margin for subtitle within containerTwo */
    .containerTwo__subtitle {
        margin-top: 22rem;
    }

    /* Adjust grid columns for containerTwo container */
    .containerTwo__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-left: 18%;
        margin-right: auto;
        max-width: 100%;
        /* margin-left: 10rem; */
    }

    /* Adjust display and width for items within containerTwo */
    .containerTwo__item {
        /* display: flex; */
        /* align-items: center; */
        /* width: auto; */
        width: 25%;
        margin-right: auto;
        max-height: 10rem;
    }

    /* Adjust display and grid columns for content within containerTwo */
    .containerTwo__content {
        /* width: 50%; */
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8rem;
        /* gap: 1rem; */
        /* align-items: center; */
        /* margin-right: 1rem; */
    }

    /* Adjust margin and width for title and text within containerTwo */
    .containerTwo__titleDivs {
        margin-top: -13rem;
        font-weight: 600;
    }

    .containerTwo__textDivs{
        font-size: 0.8rem;
    }

    .containerTwo__titleDivs,
    .containerTwo__textDivs {
        grid-column: 1;
        margin-left: 16rem;
        width: 80%;

    }
    
    /* Styles for the image div */
    .containerTwo__image {
        max-width: 100%;
        max-height: 25rem;
        /* border: 0.15rem solid black; */
        margin-left: 5rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    
    /* Styles for the contents div */
    .containerTwo__imageContents {
        width: 30%; /* Adjust width as needed */
        margin-right: -2rem;
        margin-top: 5rem;
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    
    /* Remaining styles for the inner elements remain unchanged */
    .containerTwo__imageContents-label {
        font-weight: bold;
        margin-right: 9rem;
    }
    
    .containerTwo__imageContents-title {
        font-size: 2rem;
        margin-bottom: -1rem;
        margin-right: 9.2rem;
        font-size: 1.5rem;
    }
    
    .containerTwo__titleLinks {
        margin-top: 2rem;
        /* margin-right: 5rem; */
        margin-left: -15rem;
    }
    
    .containerTwo__titleLink {
        margin-right: 1rem;
        border-right: 1px solid black;
    }
    
    .containerTwo__titleLink:last-child {
        border-right: none;
    }
    
    .containerTwo__titleLink--active {
        font-weight: bold;
    }
    
    .containerTwo__paragraph {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-left: -7.5rem;
        width: 100%;
    }
    
    .containerTwo__additional-text {
        display: block;
        margin-top: 1rem;
        margin-left: -16rem;
    }
    
    .containerTwo__button {
        margin-top: 1rem;
        margin-left: -26.5rem;
        padding: 0.5rem 0.5rem;
        width: 6rem;
        border: none;
        cursor: pointer;
    }

    .containerThree {
        margin-top: 42rem; /* Adjust the top margin as needed */
        text-align: center;
    }

    
    .containerThree__div {
        height: 20rem;
        width: 40%; /* Adjust width to fit three items in a row with gap */
        margin-bottom: -2rem;
    }
    
    .containerThree__div img {
        max-width: 80%;
        max-height: 15rem;
        object-fit: cover;
    }
    
    .containerThree__titleOverlay,
    .containerThree__labelOverlay {
        bottom: 0rem; /* Adjust as needed */
        left: auto;
        width: 65%;
        height: 2.5rem;
        margin-top: -10rem;
    }
    
    .containerThree__titleOverlay{
        top: 25rem;
        padding-top: 1rem;
    }
    
    .containerThree__div:hover .containerThree__titleOverlay,
    .containerThree__div:hover .containerThree__labelOverlay {
        display: block;
    }

    .containerThree__button{
        margin-top: 2rem;
        margin-left: 14rem;
}

.containerFour__content {
    margin-left: 7rem;
    font-size: 0.8rem;
    margin-top: -5rem;
}

.containerFour__div {
    width: 14rem;
}

.containerFour__divTitle{
    margin-bottom: -1rem;
    padding: 0.5rem;
    
}

.containerFour__divpara{
    padding: 0.5rem; /* Add padding */
}

.containerFour__divTitletext {
    width: 13rem;
    padding: 0.5rem;
}

/* Styles for the image within the container */
.containerFour__image {
    width: 100%; 
    max-height: 30rem;  
    margin-top: -10vh; 
    margin-left: -5rem;
}

.slider__tittle h1{
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: -3rem;
}

.wrapper {
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

  .wrapper i {
    left: 10px;
    right: 10px;
  }
  .wrapper i:first-child {
    left: auto;
  }

  .carousel .card {
    height: 15rem;
  }

  .image-container {
    margin-left: auto;
  }
  
  .image-block {
    position: relative;
    margin-left: auto;
    max-width: 100%;
  }
  
  .image-block img {
    /* width: 100px; Adjust image size as needed */
    height: 15rem;
    max-width: 100%;
    object-fit: cover;
  }
  
  .hover-content {
    display: none;
    position: absolute;
    left: 0rem;
    top: 13rem;
    background-color: rgba(189, 133, 133, 0.8); /* Semi-transparent background color */
    padding: 3px;
    text-align: start;
  }
  
  .image-block:hover .hover-content {
    display: block;
  }
  
  .title {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  .label, .date, .description {
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 5px; /* Adjust spacing between elements as needed */
  }

  .lastContainer__Title{
    margin-left: 1rem;
  }

  .image-container{
    padding: -10px;
  }

}



